.area {
    position: relative;
    margin: 50px auto;
    width: 500px;
    height: 499px;
    border: 2px solid black;
    z-index: 2;
    background: url("./plantilla.png") no-repeat;
    background-size: 100% 100%;
}

.serpiente {
    position: absolute;
    width: 25px;
    height: 25px;
    background: rgb(0, 165, 8);
    border: 0.3px solid black;
    z-index: 2;
}

.serpiente:last-child {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: red;
    border: 0.3px solid black;
    z-index: 2;
}

.fruta {
    background: url("./frutas.jpg") no-repeat;
    background-size: 24px 24px;
    position: absolute;
    width: 23px;
    height: 23px;
    z-index: 1;
    border-left: 1px solid black;
}